*
{
    padding: 0;
    margin: 0;
}

html, body
{
    /*Efeito linear*/
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,17,121,1) 50%, rgba(97,0,255,1) 100%);

    /*Config tamanho tela para comportar efeito linear correto*/
    height: 100vh;
    transition: 1s ease-out;
    overflow-y: hidden ;
}

body
{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.perfil
{
    text-align: center;
    margin-top: 20px;
}

.Foto-apresentacao
{
    width: 140px;
    margin-bottom: 0;

    border: 1.5px solid white;
    border-radius: 100px;
}

.titulo
{
    margin-top: 0;
}

.sub-titulo
{
    font-size: 23px;
    font-weight: 100;
}

.social
{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 10px 0;
}

.social img
{
    width: 30px;
}

.links
{
    list-style: none;
    margin: 25px 0;
}

.links li
{
    margin: 10px 40px;
}

.links li a
{
    background-color: black;
    text-align: center;
    font-weight: 100;
    font-size: 12.5px;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
    
    padding: 20px;
    border-radius: 15px;

    display: block;
}

.links li a span
{
    color: rgba(189, 189, 189, 0.734);
    font-size: 10px;
    display: block;
    margin-top: 5px;
}

footer
{
    color: rgba(255, 255, 255, 0.24);
    text-align: center;
    padding: 15px 0;
    cursor:grab;
}



